<div class="container" ng-controller="NotFoundCtrl">
    <div class="menu" ng-hide="userAuthenticated()">
        <a href="" ng-click="goBack()">
            <div>
            <span class="backIcon" aria-hidden="true" data-icon="&#xe0cd;">
                <span class="backIconType" v-copy="header:page_not_found"></span>
            </span>
            </div>
            <div class="back"></div>
        </a>
    </div>

    <div class="menu" ng-show="userAuthenticated()">
        <div class="actionBar"></div>
        <ng-include src="pushMenuPath"></ng-include>
        <ng-include src="pushMenuItemsPath"></ng-include>
        <ng-include src="overflowItemPath"></ng-include>
        <ng-include src="topMenuPath"></ng-include>
    </div>
    <div class="content">
        <h1 class="title">PAGE NOT FOUND - 404</h1>
        <div class="page">
            <br />
            <div class="midfg medium nocase" v-copy="content:page_not_found">Sorry, that page was not found</div>
            <br/>
            <br/>
            <div class="midfg medium nocase" v-copy="cust_service:page_not_found">Please Call Us At 512-555-5555</div>

            <br/><br/>
            <button id="goBackBtn" class="toupper" style="margin-top: 15px;"
                    ng-click="goBack()"
                    ng-disabled="isBusy"
                    ng-show="!isBusy"
                    v-copy="back:page_not_found"></button>
            <br />
        </div>
    </div>
</div>
</div>